
@{
    ViewBag.Title = "Login";
}

<h2>Login to access anything</h2>

<form action="" method="post">
    <input name="username" type="text"/>
    <input name="password" type="password"/>
    <input type="submit" value="Submit" />
</form>


