@using System.Security.Claims;
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@if (User.Identity.IsAuthenticated)
{
    <p>You're authenticated with forms authentication<p>
    var s = (ClaimsIdentity)User.Identity;
    var name = s.FindFirst(ClaimTypes.Name).Value;
    <p>Your name in claimsland is @name</p>
}